body{
    padding: 0;
    margin: 0;
    
}

.active{
    
    border-radius: 5px;
    color: whitesmoke;
}
.nav{
    background-color: rgb(157, 34, 55);
    color: goldenrod;
   
}
/*NAVIGATION BAR*/
h1{
    display: inline-block;
    font-family: "Abril Fatface", serif;
  
  font-style: normal;
  color: goldenrod;
  margin-left: 40px;
}
h3{
    display: inline-block;
    margin-left: 40px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
   
    font-style: normal;
    
}
.home1:not(.active){
    text-decoration: none;
    color: goldenrod;
}
h3:hover{
    transform: scale(1.5);
    color: rgba(255, 217, 0, 0.845);
    text-shadow: 2px 2px 4px #000000;
}
.active:hover{
    color: whitesmoke;
    
    text-shadow: 2px 2px 4px #000000;
}