body{
    padding: 0;
    margin: 0;
    
}

.active{
    
    border-radius: 5px;
    color: whitesmoke;
}
.nav{
    background-color: rgb(157, 34, 55);
    color: goldenrod;
   
}
/*NAVIGATION BAR*/
h1{
    display: inline-block;
    font-family: "Abril Fatface", serif;
  
  font-style: normal;
  color: goldenrod;
  margin-left: 40px;
}
h3{
    display: inline-block;
    margin-left: 40px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
   
    font-style: normal;
}

h3:hover{
    transform: scale(1.5);
    color: rgba(255, 217, 0, 0.845);
    text-shadow: 2px 2px 4px #000000;
}
.active:hover{
    color: whitesmoke;
    
    text-shadow: 2px 2px 4px #000000;
}
/*PRINCIPLE IMAGE*/
.insidePrinImage{
    color: whitesmoke;
    position: relative;
    bottom: 850px;
    left: 40px;
    font-size: 50px;
    font-family: "Abril Fatface", serif;
    font-weight: light 200;
    text-shadow: 2px 2px 4px #000000;
    
}
.IPI1{
    background-color: rgb(157, 34, 55);
    display: inline-block;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Abril Fatface", serif;
}
.IPI2{
    background-color: rgb(157, 34, 55);
    display: inline-block;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Abril Fatface", serif;
margin: 10px;
}
.IPI{
    position: relative;
    bottom: 890px;
   padding-left: 50px;
}
.IPI1:hover{
    color: whitesmoke;
    background-color: black;
}
.IPI2:hover{
    color: whitesmoke;
    background-color: black;
}
img{
   
    border-radius: 10px;
    box-shadow: 4px 4px 6px goldenrod;
    margin-top: 30px;
   
}
.principleimg{
    background-color: black;
    padding-bottom: 30px;
}
/*NOTE IN GREY COLOR*/
.greycolor{
    height: 350px;
    background-color: RGB(246, 245, 245);
    position: relative;
    bottom: 312px;
    color: black;
    padding-top: 100px;
   }
.greycolor1{
font-size: 60px;
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: light 300;
font-style: normal;


}
.greycolor2{
    font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: light 300;
font-style: normal;
justify-content: space-evenly;
justify-content: center;
font-size: 25px;

}
.greycolor1:hover{
    text-decoration-line: underline;
    
}
